---
import HomeSection from "./HomeSection.astro";
---

<div class="bg-[url('/public/fondo-header.svg')] bg-no-repeat bg-cover h-[600px]">
    <nav class="mx-auto p-3 flex justify-around">
         <img src="/public/Logo.png" class="h-[50px] w-auto" alt="">
         <ul class="flex gap-24 items-center  font-semibold text-dark text-xl">
             <li class="hover:cursor-pointer hover:text-lite ">Home</li>
             <li class="hover:cursor-pointer hover:text-lite">Contact</li>
             <li class="hover:cursor-pointer hover:text-lite">Info</li>
             <li class="hover:cursor-pointer hover:text-lite">Services</li>
         </ul>
    </nav>
    <HomeSection/>
</div>
