<header class="max-w- mx-auto p-3 flex justify-between shadow">
     <img src="/public/Logo.png" class="h-[50px] w-auto" alt="">
     <ul class="flex gap-2 items-center font-semibold text-primary">
         <li class="hover:cursor-pointer hover:contrast-150 ">Home</li>
         <li class="hover:cursor-pointer hover:contrast-150">Contact</li>
         <li class="hover:cursor-pointer hover:contrast-150">Info</li>
         <li class="hover:cursor-pointer hover:contrast-150">Services</li>
     </ul>
</header>