<header class="mx-auto p-3 flex justify-between">
     <img src="/public/Logo.png" class="h-[50px] w-auto" alt="">
     <ul class="flex gap-5 items-center font-semibold text-dark">
         <li class="hover:cursor-pointer hover:text-primary ">Home</li>
         <li class="hover:cursor-pointer hover:text-primary">Contact</li>
         <li class="hover:cursor-pointer hover:text-primary">Info</li>
         <li class="hover:cursor-pointer hover:text-primary">Services</li>
     </ul>
</header>