<section class="max-w-[1400px] flex justify-around m-auto items-center mt-3 bg-primary rounded-md" 
transition-style="in:circle:top-left">
    <div class="p-5 text-white ">
        <h1 class="text-5xl font-semibold">Catalina Penagos Yara</h1>
        <p class="text-2xl mt-1 font-light typing-effect">Asesorias integrales y calidad Humana</p>
    </div>
    <div>
         <img src="/public/foto.png" alt="">
    </div>
</section>
