<section class="max-w-[1400px] grid m-auto mt-10">
      <div class="flex justify-center">
          <h1 class="text-5xl font-semibold text-dark ">Nuestros Servicios</h1>
      </div>
      <div class="grid grid-cols-3 gap-4 m-auto mt-10">
           <div class=" h-[200px] p-10 rounded-lg bg-dark col-span-2 flex items-center ">
               <p class="text-2xl text-lite font-light">Asesoria Sistema de Gestión de la Seguridad y Salud en el Trabajo.</p>
           </div>
           <div class=" h-[200px]  p-10 rounded-lg bg-primary flex items-center">
            <p class="text-2xl text-lite font-light">Asesoria Sistema de Gestión de la Seguridad y Salud en el Trabajo.</p>
          </div>
          <div class=" h-[200px]  p-10 rounded-lg bg-dark flex items-center">
            <p class="text-2xl text-lite font-light">Asesoria Sistema de Gestión de la Seguridad y Salud en el Trabajo.</p>
          </div>
          <div class=" h-[200px]  p-10 rounded-lg bg-lite flex items-center">
            <p class="text-2xl text-dark font-light">Asesoria Sistema de Gestión de la Seguridad y Salud en el Trabajo.</p>
          </div>
          <div class=" h-[200px]  p-10 rounded-lg bg-dark flex items-center">
            <p class="text-2xl text-lite font-light">Asesoria Sistema de Gestión de la Seguridad y Salud en el Trabajo.</p>
          </div>
      </div>
</section>